@charset "utf-8";
 
#header
{
        //ここに#headerのスタイル指定を記述することもできます
         
        #siteID
        {
                font-size   : 200%;
                font-weight : bold;
        }
 
        #description
        {
                font-size   : 100%;
        }
}